:root {
    --main-font: 'Public Sans', sans-serif;
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);    
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--Dark-Blue);
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.easybank-header {
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 5% 7%;
}

#header-list-elements, .easybank-header .request-invite-btn, .images-for-desktop {
    display: none;
}

.easybank-content {
    display: grid;
}

.hero-content {
    display: grid;
    grid-template-rows: auto auto;
}

.mobile-bottom-pic {
    position: relative;
    width:100%;
    top: -10%;
}

.images-for-mobile {
    position: relative;
}

.mobile-pic {
    width:100%;
    position: absolute;
    top: -35%;
}
.content {
    text-align: center;
    padding: 0 2em 2.5em 2em;
}
.hero-content-heading {
    font-size: 40px;
    font-weight: 400;
}

.content-matter {
    padding: 1.5em 0 1.5em 0;
    color: var(--Grayish-Blue)
}

.request-invite-btn {
    font-size: 18px;
    padding: 0.75em 2em;
    border-radius: 30px;   
    color: white;
    cursor: pointer;
    outline: none;
    /* border: none; */
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
}

.easybank-facilities {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5, auto);
    background-color: var(--Light-Grayish-Blue);
}

.facilities-heading-matter {
    padding: 3em 2em ;
}

h2 {
    font-size: 35px;
    font-weight: 400;
}

.description {
    color: var(--Grayish-Blue);
    padding: 1em 0;
}

.facilities {
    padding: 0 1.9em 1.5em 1.9em ;
}

.specific-facility-heading {
    font-size:25px;
    font-weight: 400;
    padding: 1em 0 0.5em 0;
}

.easybank-article {
    display: grid;
    text-align: center;
    padding: 4em 1.7em;
    background-color: var(--Very-Light-Gray);
    grid-gap: 1.5em;
}

.article-matter {
    padding: 2em;
    border-radius: 20px;
}

.article {
    text-align: start;
    background-color: white;
}

.article-pic {
    width:100%;
    height: 12em;
    border-radius: 5px;;
}

.article-author {
    font-size: 0.75em;
    color: var(--Grayish-Blue);
}

.article-heading {
    font-size: 1em;
    font-weight: 400;
    padding:1em 0;
}

.article-description {
    color: var(--Grayish-Blue);
    font-size: 0.85em;
}

footer { 
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 2em;
    background-color: var(--Dark-Blue);
    text-align: center;
}

.social-sites-logo {
    display: flex;
    width: 100%;
    padding:1.5em 0;
    justify-content: space-between;
}

.links {
    font-size: 0.75em;
    color: white;
    padding: 0.5em;
    cursor: pointer;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

footer .request-invite-btn {
    margin:1.5em;
}

.easybank-rights {
    color: var(--Grayish-Blue);
    font-size: 0.75em;
}

@media screen and (min-width: 1440px) {
    .images-for-mobile, .btn{
        display: none;
    }

    .easybank-header .request-invite-btn {
        display: inline;
    }

    .easybank-header {
        padding:1em 10%;
        align-items: center;
    }

    #header-list-elements {
        display: flex;
        list-style-type: none;
        width:40%;
        justify-content: space-between;
    }

    li {
        display: inline;
    }

    .hero-content {
        padding: 0 0 0 10%;
        grid-template-columns: 1fr 1.4fr;
        grid-template-rows: auto;
        grid-auto-flow: dense;
        background-image: none;
    }

    .mobile-pic {
        position: absolute;
        top: -20%;
        right: -16%;
    }

    .images-for-desktop {
        display: block;
        grid-column: 2 / 3;
        background-image: url("./images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: 200% 135%;
        background-position: 10% 90%;
        position: relative;
    }

    .desktop-bottom-pic {
        object-fit: cover;
        object-position: 20% 20%;
        width: 100%;
        height:63%;
        /* width:300px; */
        /* position: absolute; */
        /* right: -13%; */
        /* top: -17%; */ 
    }
    .content {
        padding: 40% 0;
        text-align: start;
    }

    .content-matter {
        padding: 5% 0;
    }

    .hero-content-heading {
        font-size: 3em;
    }

    .easybank-facilities {
        padding: 3% 10% 6% 10%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        text-align: start;
        grid-gap: 1.5em;
    }

    .facilities-heading-matter {
        grid-column: 1/-1;
        padding: 3em 0;
    }
    
    .facilities {
        padding:0;
    }

    .easybank-article {
        padding: 3% 10% 6% 10%;
        text-align: start;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .easybank-article h2 {
        padding: 3% 0;
        grid-column: 1/-1;
    }

    footer {
        padding: 3% 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: auto auto;
        text-align: start;
    }

    .logo-and-social-sites {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .social-sites-logo {
        width: 45%;
        padding: 0;
    }

    .footer-links {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0.5em;
    }

    .links {
        font-size: 1em;
        padding: 0.25em;
    }

    .request-btn-and-copyrights {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .request-btn-and-copyrights .request-invite-btn {
        margin: 0;
    }
} 

@media screen and (max-height:750px) {
    #header-list-elements {
        top: 13%;
    }
}

@media screen and (min-height:750px) {
    #header-list-elements {
        top: 11%;
    }
}